:root {
  --color-primary: #035c55;
  --color-primary-light: #E1F4FA;
  --color-primary-red: #d5eaeb;
  --color-primary-dark: #033935;
  --color-primary-muted: #f9fcfd;
  --color-secondary: #8f0404;
  --color-secondary-dark: #710000;
  --color-secondary-muted: #f0e3e3;
  --color-secondary-light: #f5d8d8;
  --color-accent: #d9d389;
  --color-accent-dark: #968f38;
  --color-accent-muted: #fffef8;
  --color-accent-light: #e8e5c1 
  --color-primary-active: #024c45; 
  --color-primary-disabled: #b2b2b2;
  --color-primary-focus: #0d7052;

  --font-family: 'Arial', sans-serif;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bs-link-color:red;
}

