
.custom-select {
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.form-select.custom-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-select.custom-select option {
    max-height: 50px; /* Ajusta la altura máxima según sea necesario */
}
