@import './base.css';
@import './themes/theme.sass';
@import './vendors/bootstrap';

*{
    color: var(--background-black-primary);
}
body{
    background-color: var(--background-white-primary);
}

.iconoHover:hover{
    transition: 0.5s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
